body {
    margin: 0;
    padding: 0;
}
header {
    background-color: #000000;
    padding: 10px;
    align-items: center;
    text-align: center;
}
.logo img {
    width: 200px;
}

.links {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
}
.nav-links ul{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}
.nav-links ul li{
    list-style: none;
}
.nav-links ul li a{
    text-decoration: none;
    font-size: 30px;
    color: #fff;
    padding: 10px;
}
.nav-links li a:hover{
    background-color: rgba(255, 255, 255, 0.5);
    padding: 10px;
    color: #1C1C1E;
}

.history-section {
    background: linear-gradient(135deg, #1f1c2c, #928dad);
    padding: 80px 20px;
    color: white;
    overflow: hidden;
}
/* Titre */
.title {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 50px;
    animation: fadeInDown 1s ease-in-out;
}
/* Timeline */
.timeline {
    display: flex;
    flex-direction: column;
    gap: 40px;
    position: relative;
}
.timeline::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 0;
    width: 4px;
    height: 100%;
    background: rgba(255, 255, 255, 0.2);
    transform: translateX(-50%);
}
.timeline-item {
    position: relative;
    width: 50%;
    padding: 20px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(10px);
    transition: transform 0.3s ease;
}
.timeline-item:hover {
    transform: scale(1.05);
}
.timeline-item:nth-child(odd) {
    align-self: flex-start;
    animation: slideInLeft 1s ease forwards;
}
.timeline-item:nth-child(even) {
    align-self: flex-end;
    animation: slideInRight 1s ease forwards;
}
/* Contenu */
.timeline-content h3{
    font-size: 1.5rem;
    margin-bottom: 10px;
}
.timeline-content p{
    font-size: 1rem;
    line-height: 1.5;
}
/* Animations */
@keyframes fadeInDown {
    from{
        opacity: 0;
        transform: translateY(-30px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideInLeft {
    from{
        opacity: 0;
        transform: translateX(-200px);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideInRight {
    from{
        opacity: 0;
        transform: translateX(200px);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}

@media (max-width: 768px) {
    .nav-links ul{
        flex-direction: column;
        align-items: center;
        font-size: 18px;
    }
}

@media (max-width: 480px) {
    header {
        padding: 5px;
    }
    .logo img{
        width: 100px;
    }
    .nav-links ul li {
        margin: 5px 0;
    }
}