
@import url('https://fonts.googleapis.com/css2?family=Yatra+One&display=swap');

body {
    background: #F2F4F7;
    font-family: 'Yatra One', system-ui;
}

.logo h1 {
    color: #F2F4F7;
}

.logo span {
    color: #ff0000;
}

.infos h2 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.infos p {
    font-size: 18px;
}
