@import url('https://fonts.googleapis.com/css2?family=Yatra+One&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Yatra One', system-ui;
    background: #F2F4F7;
}
.logo h1{
    color: #fff;
}
.logo span{
    color: #ff0000;
}
.nav-links a:hover {
    color: #ff0000 !important;
}
.btn-outline-danger:hover {
    background-color: #ff0000;
    color: #fff;
}
